/* change */
body {
    background-color: #F8F1F1;
    font-family: 'marcellus', 'serif';
  }

.title {
    font-size: 5rem;
    color: #16697A;
}

h1 {
    color:#16697A;
}

h3, h2, h4 {
    color: #DB6400;
}


/* Images */

.img-md {
    width: 30%;
    height: auto;
    padding: .5rem;
}

.img-lg {
    width: 50%;
    height: auto;
    padding: .5rem;
}

.img-xlg {
    width: 65%;
    height: auto;
    padding: .5rem;
}

.hello-image {
    width: 50%;
    border: 5px solid;
    border-radius: 100%;
    /* background-color: #9764C7; */
    float: left;
    /* margin: 30px; */
  }
  
  .image-left {
    float: left;
  }
  
  .image-right {
    float: right;
  }

  .social-icon {
      padding: .25rem;
  }

/* links, buttons, forms */

.txt-link {
    color: #072227;
}

/* Sections */

/* Containers */

.top-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}

.mid-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.btm-container {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.text-block-cntr {
    text-align: center;
}

/* NavBar */
.navbar, .nav-item, .nav-link, .navbar-brand, .btn, .footer {
    color:  #FFA62B;
    background-color: #16697A ;
}

.navbar-collapse {
    text-align: right;
    flex-grow: 0;
}

.nav-item:hover, .nav-link:hover, .navbar-brand:hover, .txt-link:hover, .btn:hover {
    color: #FFA62B;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FFA62B,
    0 0 82px #FFA62B,
    0 0 92px #FFA62B,
    0 0 102px #FFA62B,
    0 0 151px #FFA62B;
}