/* change */
body {
    background-color: #37E2D5;
    font-family: 'Marcellus', 'serif';
}

.title {
    font-family: 'art-nuvoregular';
    font-size: 5rem;
}

p {
    font-family: 'Marcellus', 'serif';
}
/* Images */

.img-md {
    width: 30%;
    height: auto;
    padding: .5rem;
}

.img-lg {
    width: 50%;
    height: auto;
    padding: .5rem;
}

/* .back {
    background-image: -o-linear-gradient();
} */

.txt-link {
    color: #072227;
}

/* Containers */

.top-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}

.mid-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.btm-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}

.text-block-cntr {
    text-align: center;
}

/* NavBar */
.navbar, .nav-item, .nav-link {
    color:  #ff26b9;
    background-color: #072227 ;
}

.navbar-collapse {
    text-align: right;
    flex-grow: 0;
}

.nav-item:hover, .nav-link:hover, .navbar-brand:hover, .txt-link:hover {
    color: #ff26b9;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ff26b9,
    0 0 82px #ff26b9,
    0 0 92px #ff26b9,
    0 0 102px #ff26b9,
    0 0 151px #ff26b9;
}